@font-face {
    font-family: Montserrat;
    src: url(Montserrat-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Montserrat;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-image: linear-gradient(120deg, #3498db, #8e44ad);
}

.login-window {
    background: #f1f1f1;
    width: 360px;
    height: 580px;
    padding: 80px 40px;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.login-form {
    width: 360px;
    // background: #f1f1f1;
    height: 580px;
    padding: 80px 40px;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    h1 {
        text-align: center;
        margin-bottom: 60px;
    }
}

.txtb {
    border-bottom: 2px solid #adadad;
    position: relative;
    margin: 30px 0;

    input {
        font-size: 15px;
        color: #333;
        border: none;
        width: 100%;
        outline: none;
        background: none;
        padding: 0 5px;
        height: 40px;
    }

    span::before {
        content: attr(data-placeholder);
        position: absolute;
        top: 50%;
        left: 5px;
        color: #adadad;
        transform: translateY(-50%);
        z-index: -1;
        transition: .5s;
    }

    span::after {
        // content: '';
        position: absolute;
        width: 0%;
        height: 2px;
        background: linear-gradient(120deg, #3498db, #8e44ad);
        transition: .5s;
    }
}

.focus + span::before {
    top: -5px;
}

.focus + span::after {
    width: 100%;
}

.logbtn {
    display: block;
    width: 100%;
    height: 50px;
    border: none;
    background: linear-gradient(120deg, #3498db, #8e44ad, #3498db);
    background-size: 200%;
    color: #fff;
    outline: none;
    cursor: pointer;
    transition: .5s;
}

.logbtn:hover {
    background-position: right;
}

.bottom-text {
    margin-top: 60px;
    text-align: center;
    font-size: 13px;
}

///////////////////////////////////////////////////////////////////////////////
///////////////////  LOADING CSSS

.lds-ring {
    position: relative;
    // width: 64px;
    // height: 64px;
    width: 100px;
    height: 100px;
    top: 40%;
    left: 35%;
    // margin-left: -50px;

    div {
        box-sizing: border-box;
        display: block;
        position: absolute;
        // width: 51px;
        // height: 51px;
        width: 80px;
        height: 80px;
        margin: 6px;
        border: 6px solid #cef;
        border-radius: 50%;
        animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        // border-color: #cef transparent transparent transparent;
        border-color: #2d3436 transparent transparent transparent;
    }

    div:nth-child(1) {
        animation-delay: -0.45s;
    }

    .lds-ring div:nth-child(2) {
        animation-delay: -0.3s;
    }

    .lds-ring div:nth-child(3) {
        animation-delay: -0.15s;
    }
}

@keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}

///////////////////////////////////////////////////////////////////////////////